<html>

  <head>
    <title>RealFooding</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}"/>
    <link rel='icon' href="{{ url_for('static', filename='img/favicon3.ico') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
  </head>

  <body>
    <div class="information-grid">
      <div class="c1">
        <a href="../">
          <img src={{ url_for('static', filename='img/arrow.png') }} class="index">
        </a>
        <p class="title"> Grocery Shopping </p>
      </div>

      <div class="information">
        {% block content %}
          <h1>{{ option.upper() }}</h1>

          {% if option == 'breakfast' %}
            <h2>Breakfast</h2>

          {% elif option == 'sport' %}
            <h2></h2>

          {% elif option == 'events' %}

          {% endif %}

         {% endblock %}
      </div>
    </div>
  </body>

</html>
