<html>

  <head>
    <title>RealFooding</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}"/>
    <link rel='icon' href="{{ url_for('static', filename='img/favicon3.ico') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
  </head>

  <body>
    <div class="information-grid">
      <div class="c1">
        <a href="../">
          <img src={{ url_for('static', filename='img/arrow.png') }} class="index">
        </a>
        <p class="title"> Grocery Shopping </p>
      </div>

      <div class="information">
        {% block content %}
          <h1>{{ option.upper() }}</h1>

          {% if option == 'diet' %}
            <h2>Let's make a healthy grocery list!</h2>

            <ol>
              <li>Bakery and Bread
                <ul>
                  <li> <a class="ared" href="/realfood/others/wholemeal/">Whole wheat bread</a></li>
                  <li>Whole-grain flour tortillas</li>
                </ul>
              </li>
              <li>Meat and Seafood
                <ul>
                  <li>Skinless <a class="ared" href="/realfood/meat/chicken/">chicken</a> or turkey breasts</li>
                  <li>Ground turkey or <a class="ared" href="/realfood/meat/chicken/">chicken</a></li>
                  <li><a class="ared" href="/realfood/fish/salmon/">Salmon</a>, halibut, trout, mackerel, or <a class="ared" href="/realfood/fish/">your favourite seafood</a> </li>
                  <li>Reduced-sodium lunchmeat (turkey, roast <a class="ared" href="/realfood/meat/beef/">beef</a>)</li>
                  <li>If you buy <a class="ared" href="/realfood/meat">red meat</a>, choose the leanest cuts -- ones with very little marbling.</li>
                </ul>
              </li>
              <li>Pasta and Rice
                <ul>
                  <li> <a class="ared" href="/realfood/others/rice">Brown rice</a> </li>
                  <li>Whole wheat or whole-grain <a class="ared" href="/realfood/others/pasta">pasta</a> </li>
                </ul>
              </li>
              <li>Oils, Sauces, Salad Dressings, and Condiments
                <ul>
                  <li>Tomato sauce</li>
                  <li>Red-wine vinegar</li>
                  <li> <a class="ared" href="/realfood/others/oil">Extra virgin olive oil</a>, canola oil, nonfat cooking spray</li>
                  <li>Olives</li>
                </ul>
              </li>
              <li>Cereals and Breakfast Foods
                <ul>
                  <li> <a class="ared" href="/realfood/others/wholemeal"> Whole-grain or multigrain cereals</a></li>
                  <li>Steel-cut or instant oatmeal</li>
                  <li>Whole-grain cereal bars</li>
                </ul>
              </li>
              <li>Soups and Canned goods
                <ul>
                  <li>Diced or whole peeled <a class="ared" href="/realfood/vegetables/tomato/">tomatoes</a></li>
                  <li><a class="ared" href="/realfood/fish/tuna">Tuna</a> or <a class="ared" href="/realfood/fish/salmon">salmon</a> packed in water</li>
                  <li>Low-sodium soups and broths</li>
                  <li>Black, kidney, soy, or garbanzo <a class="ared" href="/realfood/others/beans">beans</a>; lentils, split peas</li>
                </ul>
              </li>
              <li>Frozen Foods
                <ul>
                  <li>Frozen vegetables: broccoli, spinach, peas, and <a class="ared" href="/realfood/vegetables/carrot">carrots</a> (no sauce)</li>
                  <li>rozen fruit: <a class="ared" href="/realfood/fruit/berries/">strawberries, raspberries, blueberries</a> (without added sugar)</li>
                  <li>Whole-grain vegetable pizza</li>
                </ul>
              </li>
              <li>Dairy (skim or soy milk), free fat <a class="ared" href="/realfood/others/cheese/">cheese</a> and <a class="ared" href="/realfood/others/eggs">eggs</a></li>
              <li>Dried <a class="ared" href="/realfood/fruit/">fruit</a> and seeds</li>
              <li>Hummus</li>
              <li>Dark chocolat with no sugar added</li>
              <li><a class="ared" href="/realfood/fruit/">FRUITS</a> AND <a class="ared" href="/realfood/vegetables/">VEGETABLES</a> ALL OF THEM OF COURSE</li>
            </ol>

          {% elif option == 'sport' %}
          <h3>Uhhh tough</h3>
          <p>A healthy diet for sport and exercise should contain plenty of starchy foods, plenty of fruit and vegetables, some protein foods and some dairy foods. It is also important to stay hydrated.</p>
          <ul>
            <li>Carbohydrates
              <p>The main role of carbohydrates is to provide energy.</p>
              <ol>
                <li> <a class="ared" href="/realfood/others/wholemeal">Bread</a> </li>
                <li> <a class="ared" href="/realfood/others/wholemeal">Breakfast cereals</a> and porridge oats </li>
                <li> <a class="ared" href="/realfood/others/pasta">Pasta</a>, noodles </li>
                <li> <a class="ared" href="/realfood/others/rice">Rice</a> </li>
                <li> <a class="ared" href="/realfood/vegetables/potato">Potatoes</a> and other starchy <a class="ared" href="/realfood/vegetables">vegetables</a> </li>
                <li><a class="ared" href="/realfood/others/beans">Soybeans</a></li>
              </ol>
            </li>
            <br>
            <li> Protein
              <p>Protein is also important for health and physical activity. The main role of protein in the body is for growth, repair and maintenance of body cells and tissues, such as muscle.</p>
              <ol>
                <li>Animal sources
                  <ul>
                    <li><a class="ared" href="/realfood/fish/tuna">Tuna</a></li>
                    <li><a class="ared" href="/realfood/meat/beef">Lean beef</a></li>
                    <li><a class="ared" href="/realfood/fish">Shrimps</a></li>
                    <li> <a class="ared" href="/realfood/others/eggs">Eggs</a> </li>
                    <li> <a class="ared" href="/realfood/fish/salmon">Salmon</a> </li>
                    <li><a class="ared" href="/realfood/meat/chicken">Chicken breast</a></li>
                  </ul>
                </li>
                <li>Plant sources
                  <ol>
                    <li>Soy</li>
                    <li>Tofu</li>
                    <li>Quinoa</li>
                  </ol>
                </li>
              </ol>
            </li>
            <br>
            <li>Fat
              <p>Fat is an essential nutrient for the body, but it is also a rich source of energy. </p>
              <ol>
                <li>Dark chocolate</li>
                <li> <a class="ared" href="/realfood/others/spread">Butter</a>, lard, ghee, suet, palm oil</li>
                <li>Pastries, cakes, biscuits</li>
              </ol>
            </li>
            <br>
            <li>WATER ALWAYS</li>
          </ul>


          {% elif option == 'events' %}
          <p>Eating healthy when dining out at social events like parties, receptions, and family gatherings can be a challenging experience when you are trying to balance healthy foods with foods high in fat, salt and sugar.</p>
          <p>Here are some ideas for event recipes: </p>
          <ol>
            <li>Home made watermelon ice cream</li><br>
            <li>Home made mixed berries yogurt</li><br>
            <li> <a class="ared" href="/realfood/others/nuts">Nuts</a> </li><br>
            <li> <a class="ared" href="/realfood/fruit/banana">Banana</a> and wholemeal flour chocolate brownie</li><br>
            <li> <a class="ared" href="/realfood/fruit/">Fruit</a> salad</li><br>
            <li>Baked artichokes with lemon, salt and vinegar</li><br>
          </ol>

          {% endif %}

         {% endblock %}
      </div>
    </div>
  </body>

</html>
