{% extends "fish-meat.html" %}
{% block content %}

  {% if type == 'cod' %}
    <h1>Cod</h1>
    <img src={{ url_for('static', filename='img/realfood/fish-meat/cod.png') }} class="icon">
    <p>Cod is the common name for the demersal fish genus Gadus, belonging to the family Gadidae. Cod is also used as part of the common name for a number of other fish species, and some species suggested to belong to genus Gadus are not called cod (the Alaska pollock).</p>

  {% elif type == 'haddock' %}
    <h1>Haddock</h1>
    <img src={{ url_for('static', filename='img/realfood/fish-meat/haddock.png') }} class="icon">
    <p>The haddock (Melanogrammus aeglefinus) is a saltwater fish from the family Gadidae, the true cods, it is the only species in the monotypic genus Melanogrammus. It is found in the North Atlantic Ocean and associated seas where it is an important species for fisheries, especially in northern Europe. It is also an important food fish and it is marketed fresh, frozen or smoked, smoked varieties include the "Finnan haddie" and the "Arbroath smokie".</p>

  {% elif type == 'tuna' %}
    <h1>Tuna</h1>
    <img src={{ url_for('static', filename='img/realfood/fish-meat/tuna.png') }} class="icon">
    <p>A tuna (also called tunny) is a saltwater fish that belongs to the tribe Thunnini, a subgrouping of the Scombridae (mackerel) family. The Thunnini comprise 15 species across five genera, the sizes of which vary greatly, ranging from the bullet tuna (max. length: 50 cm (1.6 ft), weight: 1.8 kg (4 lb)) up to the Atlantic bluefin tuna (max. length: 4.6 m (15 ft), weight: 684 kg (1,508 lb)). The bluefin averages 2 m (6.6 ft), and is believed to live up to 50 years.</p>

  {% elif type == 'salmon' %}
    <h1>Salmon</h1>
    <img src={{ url_for('static', filename='img/realfood/fish-meat/salmon.png') }} class="icon">
    <p>Salmon /ˈsæmən/ is the common name for several species of ray-finned fish in the family Salmonidae. Other fish in the same family include trout, char, grayling and whitefish. Salmon are native to tributaries of the North Atlantic (genus Salmo) and Pacific Ocean (genus Oncorhynchus). Many species of salmon have been introduced into non-native environments such as the Great Lakes of North America and Patagonia in South America. Salmon are intensively farmed in many parts of the world.</p>

  {% elif type == 'anchovies' %}
    <h1>Anchovies</h1>
    <img src={{ url_for('static', filename='img/realfood/fish-meat/anchovies.png') }} class="icon">
    <p>An anchovy is a small, common forage fish of the family Engraulidae. Most species are found in marine waters, but several will enter brackish water and some in South America are restricted to fresh water</p>

  {% elif type == 'beef' %}
    <h1>Beef</h1>
    <img src={{ url_for('static', filename='img/realfood/fish-meat/beef.png') }} class="icon">
    <p>Beef is the culinary name for meat from cattle, particularly skeletal muscle. Humans have been eating beef since prehistoric times. Beef is a source of high-quality protein and nutrients</p>

  {% elif type == 'lamb' %}
    <h1>Lamb</h1>
    <img src={{ url_for('static', filename='img/realfood/fish-meat/lamb.png') }} class="icon">
    <p>Lamb, hogget and mutton are the meat of domestic sheep (species Ovis aries) at different ages.</p>
    <p>A sheep in its first year is called a lamb, and its meat is also called lamb. The meat of a juvenile sheep older than one year is hogget; outside the USA this is also a term for the living animal. The meat of an adult sheep is mutton, a term only used for the meat, not the living animals. In the Indian subcontinent the term mutton is also used to refer to goat meat</p>

  {% elif type == 'pork' %}
    <h1>Pork</h1>
    <img src={{ url_for('static', filename='img/realfood/fish-meat/pork.png') }} class="icon">
    <p>Pork is the culinary name for meat from a domestic pig (Sus scrofa domesticus). It is the most commonly consumed meat worldwide,[1] with evidence of pig husbandry dating back to 5000 BC. Pork is eaten both freshly cooked and preserved. Curing extends the shelf life of the pork products. Ham, smoked pork, gammon, bacon and sausage are examples of preserved pork. Charcuterie is the branch of cooking devoted to prepared meat products, many from pork.</p>

  {% elif type == 'chicken' %}
    <h1>Chicken</h1>
    <img src={{ url_for('static', filename='img/realfood/fish-meat/chicken.png') }} class="icon">
    <p>The chicken (Gallus gallus domesticus) is a type of domesticated fowl, a subspecies of the red junglefowl. It is one of the most common and widespread domestic animals, with a total population of more than 19 billion as of 2011. There are more chickens in the world than any other bird or domesticated fowl. Humans keep chickens primarily as a source of food (consuming both their meat and eggs) and, less commonly, as pets. Originally raised for cockfighting or for special ceremonies, chickens were not kept for food until the Hellenistic period (4th–2nd centuries BCE)</p>

  {% else %}
    <h1>Sorry, what you're looking for is not in this web, yet.</h1>
    <h1>Or it's not in the Tropical fruits.</h1>
    <h2>Maybe you might wanna leave a message in the Contact area to let me know what fruits I should add?? :)</h2>

  {% endif %}


{% endblock %}}
