{% extends "fish-meat.html" %}
{% block content %}

  {% if type == 'cod' %}
    <h1>Cod</h1>
    <img src={{ url_for('static', filename='img/fish-meat/cod.png') }} class="icon">
    <br>

  {% elif type == 'haddock' %}
    <h1>Haddock</h1>
    <img src={{ url_for('static', filename='img/fish-meat/haddock.png') }} class="icon">

  {% elif type == 'tuna' %}
    <h1>Tuna</h1>
    <img src={{ url_for('static', filename='img/fish-meat/tuna.png') }} class="icon">

  {% elif type == 'salmon' %}
    <h1>Salmon</h1>
    <img src={{ url_for('static', filename='img/fish-meat/salmon.png') }} class="icon">

  {% elif type == 'anchovies' %}
    <h1>Anchovies</h1>
    <img src={{ url_for('static', filename='img/fish-meat/anchovies.png') }} class="icon">

  {% elif type == 'beef' %}
    <h1>Beef</h1>
    <img src={{ url_for('static', filename='img/fish-meat/beef.png') }} class="icon">

  {% elif type == 'lamb' %}
    <h1>Lamb</h1>
    <img src={{ url_for('static', filename='img/fish-meat/lamb.png') }} class="icon">

  {% elif type == 'pork' %}
    <h1>Pork</h1>
    <img src={{ url_for('static', filename='img/fish-meat/pork.png') }} class="icon">

  {% elif type == 'chicken' %}
    <h1>Chicken</h1>
    <img src={{ url_for('static', filename='img/fish-meat/chicken.png') }} class="icon">

  {% else %}
    <h1>Sorry, what you're looking for is not in this web, yet.</h1>
    <h1>Or it's not in the Tropical fruits.</h1>
    <h2>Maybe you might wanna leave a message in the Contact area to let me know what fruits I should add?? :)</h2>

  {% endif %}


{% endblock %}}
