<!DOCTYPE html>

  <head>
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}"/>
    <link rel='icon' href="{{ url_for('static', filename='img/favicon3.ico') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Delius Unicase' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
  </head>

  <body>
    <div class="c_container">
      <div class="c1">
        <a href="/">
          <img src={{ url_for('static', filename='img/arrow.png') }} class="index">
        </a>
        <p class="title"> Get in touch </p>
      </div>

      <div class="c2">

          <label for="name">Name:</label> <br>
          <input class="ctype" type="text" name="name" placeholder="What's your name?">
          <br>
          <label for="email">Email:</label> <br>
          <input class="ctype" type="text" name="email" placeholder="Your email will be used to contact you.">
          <br>
          <label for="textarea">Doubt:</label> <br>
          <input class="ctype" type="text" name="textarea" placeholder="What would you like to ask?">
          <br>
          <button type="submit">Send</button>

      </div>
    </div>
  </body>

</html>
