<html>

  <head>
    <title>RealFooding</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}"/>
    <link rel='icon' href="{{ url_for('static', filename='img/favicon3.ico') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Delius Unicase' rel='stylesheet'>
  </head>

  <body>
    <div class="information-grid">
      <div class="c1">
        <a href="../">
          <img src={{ url_for('static', filename='img/arrow.png') }} class="index">
        </a>
        <p class="title"> Fruit </p>
      </div>

      <div class="information">
        {% block content %}

          <h1>How much fruit should you eat per day?</h1>
          <p>Fruit is an important part of a healthy diet.</p>
          <p>In fact, diets high in fruit are associated with all sorts of health benefits, including a decreased risk of many diseases.</p>
          <p>However, some people are concerned with the sugar content of fruit and worry that eating too much of it may be harmful.</p>
          <p>Eating whole fruit promotes good health and can lower the risk of many serious diseases.</p>
          <p>Unless you are following a ketogenic diet or have some sort of intolerance, there really is no reason to limit the amount of fruit you eat.</p>
          <p>While most studies suggest that the optimal amount is two to five servings of fruit per day, there seems to be no harm in eating more.</p>


          <h1>Nutritional Values</h1>
          <p>Fresh fruits are generally high in fiber, vitamin C, and water.</p>
          <p>Regular consumption of fruit is generally associated with reduced risks of several diseases and functional declines associated with aging.</p>

          <h1>Fruits</h1>
          <h3><a href="/realfood/fruit/spring-and-summer/" title="More info">Spring & Summer Fruits</a></h3>
          <ul>
            <li><a href="/realfood/fruit/spring-and-summer/berries/" title="More info">Berries</a></li>
            <li><a href="/realfood/fruit/spring-and-summer/apricot/" title="More info">Apricot</a></li>
            <li><a href="/realfood/fruit/spring-and-summer/cherry/" title="More info">Cherry</a></li>
            <li><a href="/realfood/fruit/spring-and-summer/peach/" title="More info">Peach</a></li>
          </ul>
          <h3><a href="/realfood/fruit/fall-and-winter/" title="More info">Fall & Winter Fruits</a></h3>
          <ul>
            <li><a href="/realfood/fruit/fall-and-winter/apple/" title="More info">Apple</a></li>
            <li><a href="/realfood/fruit/fall-and-winter/kiwi/" title="More info">Kiwi</a></li>
            <li><a href="/realfood/fruit/fall-and-winter/pear/" title="More info">Pear</a></li>
            <li><a href="/realfood/fruit/fall-and-winter/grapes/" title="More info">Grapes</a></li>
          </ul>
          <h3><a href="/realfood/fruit/tropical/" title="More info">Tropical Fruits</a></h3>
          <ul>
            <li><a href="/realfood/fruit/tropical/banana/" title="More info">Banana</a></li>
            <li><a href="/realfood/fruit/tropical/pineapple/" title="More info">Pineapple</a></li>
            <li><a href="/realfood/fruit/tropical/avocado/" title="More info">Avocado</a></li>
            <li><a href="/realfood/fruit/tropical/mango/" title="More info">Mango</a></li>
          </ul>
         {% endblock %}
      </div>
    </div>
  </body>

</html>
