<!DOCTYPE html>

  <head>
    <title>Grocery Shopping</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}"/>
    <link rel='icon' href="{{ url_for('static', filename='img/favicon3.ico') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
  </head>

  <body>
    <div class="g_container">
      <div class="mp1">
        <a href="/">
          <img src={{ url_for('static', filename='img/arrow.png') }} class="index">
        </a>
        <p class="title">Grocery Shopping</p>
      </div>
      <div class="g2">
        <a href="/groceries/diet/">
          <img src={{ url_for('static', filename='img/main_pages/diet.png') }} class="icon">
        </a>
      </div>
      <div class="g3">
        <a href="/groceries/sport/">
          <img src={{ url_for('static', filename='img/main_pages/sport.png') }} class="icon">
        </a>
      </div>
      <div class="g4">
        <a href="/groceries/events/">
          <img src={{ url_for('static', filename='img/main_pages/events.png') }} class="icon">
        </a>
      </div>
      <div class="g5">
        <a href="/groceries/diet/" class="awhite">
          Diet
        </a>
      </div>
      <div class="g6">
        <a href="/groceries/sport/" class="awhite">
          Sport
        </a>
      </div>
      <div class="g7">
        <a href="/groceries/events/" class="awhite">
          Events
        </a>
      </div>
    </div>
  </body>

</html>
