<!DOCTYPE html>
<html>

  <head>
    <title>Realfooding</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}"/>
    <link rel='icon' href="{{ url_for('static', filename='img/favicon3.ico') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
  </head>

  <body>

    <div class="grid-container">
      <div class="item1">
        <div class="login">
            {% if login %}
              <a class="awhite" href="/logout" title="don't leaveeee">Log out</a>
            {% else %}
              <a class="awhite" href="/login" title="Login for administrators">Login</a>
            {% endif %}

        </div>
      </div>
      <div class="item2">  RealFooding  </div>
      <div class="item3"></div>
      <div class="item4">
        <a href="/realfood/">
          <img class="intro" src={{ url_for('static', filename='img/index/apple.png') }}>
        </a>
      </div>
      <div class="item5">
        <a href="/realfood/" class="awhite">
          Real food
        </a>
      </div>
      <div class="item6">
        <a href="realfood.html">  </a>
      </div>
      <div class="item7">
        <a href="/ultraprocessed/">
          <img class="intro" src={{ url_for('static', filename='img/index/barcode.png') }}>
        </a>
      </div>
      <div class="item8">
        <a href="/ultraprocessed/" class="awhite">
          Ultraprocessed food
        </a>
      </div>
      <div class="item9"></div>
      <div class="item10">
        <a href="/mealplan/">
          <img class="intro" src={{ url_for('static', filename='img/index/plan.png') }}>
        </a>
      </div>
      <div class="item11">
        <a href="/mealplan/" class="awhite">Meal plan</a>
      </div>
      <div class="item12"></div>
      <div class="item13">
        <a href="/groceries/">
          <img class="intro" src={{ url_for('static', filename='img/index/cart.png') }}>
        </a>
      </div>
      <div class="item14">
        <a href="/groceries/" class="awhite">Grocery Shopping</a>
      </div>
      <div class="item15"></div>
      <div class="item16">
        <a href="/contact/">
          <img class="intro" src={{ url_for('static', filename='img/index/iphone.png') }}>
        </a>
      </div>
      <div class="item17">
        <a href="/contact/" class="awhite">Contact</a>
      </div>
    </div>
  </body>

</html>
