<!DOCTYPE html>

  <head>
    <title>Meal Plan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}"/>
    <link rel='icon' href="{{ url_for('static', filename='img/favicon3.ico') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
  </head>

  <body>
    <div class="mp_container">
      <div class="mp1">
        <a href="/">
          <img src={{ url_for('static', filename='img/arrow.png') }} class="index">
        </a>
        <p class="title"> Meal Plans</p>
      </div>
      <div class="mp2">
        <a href="#">
          <img src={{ url_for('static', filename='img/main_pages/recipes.png') }} class="icon">
        </a>
      </div>
      <div class="mp3">
        <a href="#">
          <img src={{ url_for('static', filename='img/main_pages/breakfast.png') }} class="icon">
        </a>
      </div>
      <div class="mp4">
        <a href="#">
          <img src={{ url_for('static', filename='img/main_pages/lunch.png') }} class="icon">
        </a>
      </div>
      <div class="mp5" class="awhite">Breakfast</div>
      <div class="mp6" class="awhite">Lunch</div>
      <div class="mp7" class="awhite">
        <a href="/mealplan/recipes/" class="awhite">Recipes</a>
      </div>
      <div class="mp8">
        <a href="#">
          <img src={{ url_for('static', filename='img/main_pages/snacks.png') }} class="icon">
        </a>
      </div>
      <div class="mp9">
        <a href="#">
          <img src={{ url_for('static', filename='img/main_pages/dinner.png') }} class="icon">
        </a>
      </div>
      <div class="mp10" class="awhite">Snacks</div>
      <div class="mp11" class="awhite">Dinner</div>
    </div>
  </body>

</html>
