<!DOCTYPE html>

  <head>
    <title>Meal Plan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}"/>
    <link rel='icon' href="{{ url_for('static', filename='img/favicon3.ico') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
  </head>

  <body>
    <div class="mp_container">
      <div class="mp1">
        <a href="/">
          <img src={{ url_for('static', filename='img/arrow.png') }} class="index">
        </a>
        <p class="title"> Meal Plans</p>
      </div>
      <div class="mp2">
        <a href="/mealplan/recipes/">
          <img src={{ url_for('static', filename='img/main_pages/recipes.png') }} class="icon">
        </a>
      </div>
      <div class="mp3">
        <a href="/mealplan/breakfast/">
          <img src={{ url_for('static', filename='img/main_pages/breakfast.png') }} class="icon">
        </a>
      </div>
      <div class="mp4">
        <a href="/mealplan/lunch/">
          <img src={{ url_for('static', filename='img/main_pages/lunch.png') }} class="icon">
        </a>
      </div>
      <div class="mp5"> <a class="awhite" href="/mealplan/breakfast/">Breakfast</a></div>
      <div class="mp6"> <a  class="awhite"href="/mealplan/lunch">Lunch</a></div>
      <div class="mp7">
        <a href="/mealplan/recipes/" class="awhite">Recipes</a>
      </div>
      <div class="mp8">
        <a href="/mealplan/snacks/">
          <img src={{ url_for('static', filename='img/main_pages/snacks.png') }} class="icon">
        </a>
      </div>
      <div class="mp9">
        <a href="/mealplan/dinner/">
          <img src={{ url_for('static', filename='img/main_pages/dinner.png') }} class="icon">
        </a>
      </div>
      <div class="mp10"> <a class="awhite" href="/mealplan/snacks/">Snacks</a></div>
      <div class="mp11"> <a class="awhite" href="/mealplan/dinner/">Dinner</a></div>
    </div>
  </body>

</html>
