{% extends "fruit_layout.html" %}
{% block content %}

  <h1>Tropical Fruits</h1>

  <p>Tropical fruits usually have a thick skin that is not edible, because they help retain water in a hot climate and protect the fruits from predators like monkeys and birds with sharp beaks. Coconuts, avocados, and bananas have a thicker skin than apples and pears. Temperate fruits tend to be firm and juicy with a high sugar content, and flesh that supports seed growth.</p>

  <ul>
    <li><a href="/realfood/fruit/tropical/banana/" title="More info" class="ared">Banana</a></li>
    <li><a href="/realfood/fruit/tropical/pineapple/" title="More info" class="ared">Pineapple</a></li>
    <li><a href="/realfood/fruit/tropical/avocado/" title="More info" class="ared">Avocado</a></li>
    <li><a href="/realfood/fruit/tropical/mango/" title="More info" class="ared">Mango</a></li>
  </ul>

{% endblock %}}
