{% extends "fruit_layout.html" %}
{% block content %}

  <h1>Fall & Winter Fruits</h1>

  <p>Remember you can enjoy the taste of any fruit year-round fresh, frozen, canned, dried or 100% juice - it all counts!</p>

  <ul>
    <li><a href="/realfood/fruit/spring-and-summer/apple/" title="More info">Apple</a></li>
    <li><a href="/realfood/fruit/spring-and-summer/kiwi/" title="More info">Kiwi</a></li>
    <li><a href="/realfood/fruit/spring-and-summer/pear/" title="More info">Pear</a></li>
    <li><a href="/realfood/fruit/spring-and-summer/grapes/" title="More info">Grapes</a></li>
  </ul>



{% endblock %}}
