{% extends "realfood/fruit_layout.html" %}
{% block content %}

  <h1>Spring & Summer Fruits</h1>

  <p>Summer fruits come and go quickly, so make the most of them now while they last. From sprucing up your summer cocktails to enhancing a breakfast cereal, British summer fruits are ripe, fresh, ready and waiting for you.</p>

  <ul>
    <li><a href="/realfood/fruit/spring-and-summer/berries/" title="More info" class="ared">Berries</a></li>
    <li><a href="/realfood/fruit/spring-and-summer/apricot/" title="More info" class="ared">Apricot</a></li>
    <li><a href="/realfood/fruit/spring-and-summer/cherry/" title="More info" class="ared">Cherry</a></li>
    <li><a href="/realfood/fruit/spring-and-summer/peach/" title="More info" class="ared">Peach</a></li>
  </ul>



{% endblock %}}
