{% extends "fruit_layout.html" %}
{% block content %}

  <h1>Fall & Winter Fruits</h1>

  <p>Remember you can enjoy the taste of any fruit year-round fresh, frozen, canned, dried or 100% juice - it all counts!</p>

  <ul>
    <li><a href="/realfood/fruit/fall-and-winter/apple/" title="More info" class="ared">Apple</a></li>
    <li><a href="/realfood/fruit/fall-and-winter/kiwi/" title="More info" class="ared">Kiwi</a></li>
    <li><a href="/realfood/fruit/fall-and-winter/pear/" title="More info" class="ared">Pear</a></li>
    <li><a href="/realfood/fruit/fall-and-winter/grapes/" title="More info" class="ared">Grapes</a></li>
  </ul>

{% endblock %}}
